<include href="views/includes/header.html"></include>
<body>
    <div class="container">
        <h1>Welcome to My House</h1>
        <img src="images/diner.jpg" alt="photo of mid-century type diner">
        <br><br>
        <p>View Our Menus</p>
        <ul>
            <li><a href="breakfast">Breakfast</a></li>
        </ul>
        <ul>
            <li><a href="lunch">Lunch</a></li>
        </ul>
        <ul>
            <li><a href="dinner">Dinner</a></li>
        </ul>
        <ul>
            <li><a href="happy-hour">Happy Hour</a></li>
        </ul>
        <button class="btn btn-primary"><a href="orderform1">Place an order</a></button>
    </div>
</body>
</html>